body {
	margin: 0;
}
#todo-conteudo {
	padding-left: 20px;
	padding-right: 20px;
}

/* O margin top é para consertar o problema que da quando fixo
o header: os demais elementos ficam abaixo dele*/
.container-content {
	width:	927PX;
	margin:	auto;
	position: relative;
	margin-top: 116px;
}

.container-content img {
	width: 100%;
}

/*top e left: 0; é para consertar o efeito que o position: fixed; causa*/
/* z-index: 9; é para o conteudo do header sobrepor os demais conteudos*/
header {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
}
header a {
	text-decoration: none;
}
#logo-texto {
	font-family: 'Merriweather', serif;
	font-size: 25px;
	padding-left: 8px;
	color: #000000bd;
	text-decoration: none;
}

#menus {
	font-family: 'Roboto', sans-serif;;
}

a {
	color: #80807fd1;
}

#menus li {
	display: inline-block;
	margin: 0 2px;
	padding: 5px;
}
#menus li a {
	font-size: 20px;
	text-decoration: none;
	padding: 5px
}
#menus li a:hover {
	background-color: #f27507c9;
	border-radius: 15px;
	color: #347d00;
	transition-duration: 0.4s

}
#container-logo {
	display: flex;
	align-items: center;
}

/*
#inicio {
	color: #3C8C03;
}
*/
.texto-header {
	padding-top: 8px;
}
.img_content {
	position: absolute;
	text-align: center;
	color: #3C8C03;
	right: 2%;
	top: 38%;
	font-size: 41px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#logo-logo {
	width: 65px
}

.conteudo-aleatorio {
	margin-top: 200px
}

footer li img {
	width: 43px;
}
footer li {
	display: inline-block;
}
footer ul {
	width: 137px;
	margin-left: 36%;
}	
footer {
	background-color: #60607373;
}
#texto-redes-footer {
	width: auto;
	margin-left: 39%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #000000b8;

}